@charset "UTF-8";

@keyframes transitionRight {
    from {
        transform: translateX(200px);
        opacity: 0;
    }

    to {
       transform: translateX(0px);
       opacity: 1;
    }
}

@keyframes transitionLeft {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }

    to {
       transform: translateX(0px);
       opacity: 1;
    }
}

@keyframes transitionTop {
    from {
        transform: translateY(-50px);
    }

    to {
       transform: translateY(0px);
    }
}

@keyframes transitionBottom {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
       transform: translateY(0px);
    }
}

@font-face {
    font-family: 'Kiona';
    src: url(../fonts/kiona_2/Kiona-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Star-Wars';
    src: url(../fonts/star_jedi/starjedi/Starjedi.ttf) format("truetype");
}

:root {
    --fonte-global: 'Kiona', sans-serif;
    --fonte-logo: 'Star-Wars', sans-serif;
    --letras: #7369ff;
    --gradient: linear-gradient(
        to bottom,
        rgb(68, 99, 255),
        rgb(17, 17, 165)
      );
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    letter-spacing: 3px;
    overflow-x: hidden;
}

/* Nav bar(Navegação) */

.menu {
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    width: 100vw;
    backdrop-filter: blur(20px);
    background-color: #ebebebb8;
    overflow: hidden;
    z-index: 1;
    align-items: center;
    font-family: var(--fonte-global);
    position: fixed;
    font-weight: bold;
    padding: 10px;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--letras);
    margin: 10px;
}

.menu__logo {
    font-family: var(--fonte-logo);
    font-size: 2em;
    letter-spacing: 0px;
    background-image:  var(--gradient);
    letter-spacing: 0px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    animation: transitionLeft 1s ease;
}

.menu__links {
    color: var(--letras);
    display: inline-block;
    padding: 2px;
}

.menu__links:hover {
    color: #2a63dd;
    transition: .2s linear;
}

.menu__links::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, rgba(44, 44, 255, 0.79), rgb(147, 128, 255));
    transition: width .3s;
    border-radius: 2px;
}

.menu__links:hover::after {
    transition: width .3s;
    width: 100%;
}

.div-menu {
    display: flex;
    align-items: center;
    animation: 1s transitionRight ease;
}

.div-menu__entrar {
    padding: 10px;
    transition:  0.2s linear;
    margin: 5px;
}

.div-menu__entrar:hover {
    background-color: var(--letras);
    color: white;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.847);
    transition:  0.2s linear;
    border-radius: 2px;
}

.div-menu__linha {
    height: 35px;
    border-left: 3px solid var(--letras);
    border-radius: 2px;
}

.menu_home {
    animation: transitionTop 0.6s ease;
}

.menu_episodes {
    animation: transitionTop 0.7s ease;
}

.menu_about {
    animation: transitionTop 0.8s ease;
}


/* Conteudo inicial */

main {
    color: var(--letras);
    font-family: var(--fonte-global);
}

.first-session {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
    align-content: center;
}

.first-session__div1 {
    align-content: center;
    justify-content: center;
    display: grid;
    animation: transitionLeft 2s ease;
}

.first-session__image1 {
    width: 300px;
    max-width: 100%;
}

.first-session__div2 {
    margin-top: 50px;
    animation: transitionRight 2.5s ease;
}

.first-session__image2 {
    max-width: 100%;
    align-content: center;
    justify-content: center;
}

#paragrafo-visions {
    animation: transitionBottom 1s;
}

h1 {
    text-align: center;
    background-image:  var(--gradient);
    letter-spacing: 3px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    animation: transitionBottom 1s ease;
}

/* Episodios Agrupados */

.ep-grouped {
    display: grid;
    height: 500px;
    text-align: center;
    gap: 40px;
    margin: 50px 0px;
}

.ep-grouped img {
    max-width: 100%;
    align-self: center;
    border: .1px solid white;
    transition: 0.3s linear;
}

.ep-grouped img:hover {
    filter: saturate(0);
    transition: 0.3s linear;
    cursor: pointer;
}

.ep-grouped__images {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.ep1 {
    animation: transitionRight 0.5s ease;
}

.ep2 {
    animation: transitionRight 0.6s ease;
}

.ep3 {
    animation: transitionRight 0.7s ease;
}

.ep4 {
    animation: transitionRight 0.8s ease;
}

.ep5 {
    animation: transitionRight 0.9s ease;
}

.ep6 {
    animation: transitionRight 1s ease;
}

.ep7 {
    animation: transitionRight 1.1s ease;
}

.ep8 {
    animation: transitionRight 1.2s ease;
}

.ep9 {
    animation: transitionRight 1.3s ease;
}

/* Episodios com descrição e Modal*/

.titulo-episodios {
    text-align: center;
    margin: 40px 0px;
}

@media screen and (max-width: 1165px){
    .secao-ep h2 {
        text-align: center;
        padding: 20px;
        font-size: 1em;
    }
}

.titulo {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    background-image:  var(--gradient);
    letter-spacing: 3px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    font-size: clamp(0.1em, 0.5em + 0.5vw, 1em);
}

.img img {
    max-width: 100%;
}

.botao-modal {
    background-color: var(--letras);
    min-width: 300px;
    text-align: center;
    padding: 10px 0px; 
    font-weight: bold;
    color: white;
    transition: 0.2s linear;
    margin-top: -4px;
    cursor: pointer;
    margin-bottom: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.botao-modal:hover {
    background-color: rgb(0, 0, 140);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.76);
}

.secao-ep {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 10px;
    place-items: center;
}

.secao-ep h2 {
    text-align: center;
    padding: 20px;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: url(../modal-images/h2-background-episodes.jpg) no-repeat;
}

.paragrafos {
    background: linear-gradient(to bottom, rgb(45, 33, 178), rgb(0, 0, 140));
    color: white;
    font-size: clamp(0.1em, 0.5em + 0.5vw, 0.9em);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.797);
    margin-top: -4px;
}

.paragrafos ul {
    display: block;
    padding: 10px;
}

.paragrafos li {
    display: block;
    padding: 10px;
}

.notch-contain::before {
    left: 0;
    border-right: 14px solid transparent;
    width: 50%;
}

.studioName {
    width: 150px;
}


/* Seção 4img */

.secao-4img {
    display: grid;
    grid-template-areas: 
    "um um um dois dois dois "
    "tres tres quatro quatro cinco cinco"
    "seis seis seis sete sete sete"
    ;
}

.um {
    grid-area: um;
}

.dois {
    grid-area: dois;
}

.tres {
    grid-area: tres;
}

.quatro {
    grid-area: quatro;
}

.cinco {
    grid-area: cinco;
}

.seis {
    grid-area: seis;
}

.sete {
    grid-area: sete;
}

.oito {
    grid-area: oito;
}

.secao-4img img {
    width: 100%;
}

.secao-4img div {
    margin: -4px;
}

.citacao-yoda {
    text-align: center;
    margin: 40px 0px;
}

cite::before {
    content: "“";
}

cite::after {
    content: "”";
}


/* Footer */

footer {
    background: var(--letras);
    font-family: var(--fonte-global);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

footer h2 {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.797);
    color: white;
}

footer div {
    display: grid;
    padding: 10px;
}

.visions  {
    align-items: center;
    display: flex;
}

.ico {
    display: flex;
}

.links-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 30px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.797);
    color: white;
}

footer img {
    width: 35px;
    margin: 5px;
}

footer div {
    margin: 5px;
}

footer ul {
    display: inline;
    font-size: clamp(0.1em, 0.5em + 0.5vw, 0.9em);
}

footer li {
    padding: 2px;
}

hr {
    height: 0.1px;
}

footer p {
    font-size: clamp(0.1em, 0.5em + 0.5vw, 1.1em);
}

.footer-paragrafos {
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.797);
    color: white;
}

